
*.DS_Store
*.xcuserstate
SpartanFit/.DS_Store
.DS_Store
SpartanFit/SpartanFit.xcodeproj/project.xcworkspace/xcuserdata/garrettemerich.xcuserdatad/UserInterfaceState.xcuserstate
SpartanFit/SpartanFit.xcodeproj/project.xcworkspace/xcuserdata/garrettemerich.xcuserdatad/UserInterfaceState.xcuserstate
SpartanFit/SpartanFit.xcodeproj/xcshareddata/xcschemes/SpartanFit.xcscheme
SpartanFit/SpartanFit.xcodeproj/xcuserdata/garrettemerich.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
SpartanFit/SpartanFit.xcodeproj/project.xcworkspace/xcuserdata/garrettemerich.xcuserdatad/UserInterfaceState.xcuserstate
SpartanFit/SpartanFit.xcodeproj/xcuserdata/garrettemerich.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
SpartanFit/SpartanFit.xcodeproj/xcuserdata/garrettemerich.xcuserdatad/xcschemes/xcschememanagement.plist
