<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SpartanFit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2B0AC8DE2CB491D30047022D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B0AC8EE2CB491D60047022D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B0AC8F82CB491D60047022D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
